* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

header {
    display: inline-block;
    width: 100%;
    align-items: center;
    height: fit-content;
    min-height: 50px;
    background-color: darkgrey;
    margin-bottom: 2%;
    padding: 1%;
    font-size:10vw;
}

.form-check {
    position: absolute;
    right: 0;
    padding: 5px;
  }

#rainbow {
color: #999999;
position: fixed;
right: 0;
bottom: 0px;
padding: 5px;
border: none;
background-color: white;
}

#trash-icon {
    margin: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
}

button i {
    width: -10px;
}

input {
    padding: 1%;
    margin-bottom: 5px;
}

.row {
    width: 100%;
    
}

.card {
    display: flex;
    padding: 1%;
    border-style: none;
    width: 25%;
    
}


#hidden {
    visibility: hidden;
}

#visible {
    visibility: visible;
}


#flexSwitchCheckReverse {
    
    background-color: white;
    
    border-color: grey;
    
}

#flexSwitchCheckReverse:checked {

      background-color: grey;
      border-color: grey;
}

#flexSwitchCheckReverse:focus {
    
    border-color: grey;
    box-shadow: none;

}

.icon {
    filter: grayscale(100%);
}

.data-name-btn {
    border: none;
    background-color: white;
}

.data-name-btn:hover {
    border: none;
    background-color: lightgrey;
}




@media screen and (max-width: 840px) {

    * {
        font-size:3vw;
    }
    
    .text-center {
        display:block;
        width: 100%;
        margin: 1%
    }

    .col-2{
        display:block;
        width: 100%;

    }

    .col-10 {
        display:block;
        width: 100%;
    }

    .row {
        display:block;
        width: 100%;
    }

    .card {
        display:block;
        width: 100%;
    }


    #rainbow {
        visibility: hidden;
        }
    
        .form-check-reverse {
            position: fixed;
            bottom: 5px;
            left: 50px;
            z-index: 1;
          }

    #aaron-image {
        visibility: hidden;
    }

  }